*{
    margin: 0px;
    padding: 0px;
}
/*common css*/
body{
    font-family: 'Lato', sans-serif;
    color: #272727;
}
.primary-button{
    background-color: #E55473;
    color: #fff;
    display: inline-block;
    padding: 10px 20px;
    margin: 20px 0px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.box-width-section{
    max-width: 1150px;
    margin: 0 auto;
}
/*common css end*/

/*banner area*/
.banner-area{
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fceef1;
}
.banner-area h1{
padding-bottom: 10px;
font-weight: 900;
font-size: 50px;
}
.banner-image img{
    width: 300px ;
}
/*banner area end*/
/*featured area*/
.featured-area-content{
    text-align: center;
    margin: 100px 0px;
}
.featured-area-content h1{
    margin-bottom: 10px;
}
.featured-area-content p{
    margin-bottom: 10px;
}
.featured-area-images{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}
.featured-area-images .box{
    width: 450px;
    height: 450px;
    margin: 0px 5px;
}
.featured-area-images .box img{
    width: 310px;
    height: 350px;
}
.featured-area-images .box1{
    background-color: #f2dee7;
    display: flex;
    justify-content: center;
    align-items: end;
    border-radius: 200px 200px 0px 0px;
}
.featured-area-images .box2{
    background-color: #d9eff1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 200px 200px 0px 0px;
}
.featured-area-images .box2 img{
    width: 310px;
    height: 310px;
}
.featured-area-images .box3{
    background-color: #e3ebdb;
    display: flex;
    justify-content: center;
    align-items: end;
    border-radius: 200px 200px 0px 0px;
}
.featured-area-link{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1150px;
    margin: 0 auto;
    padding: 20px 0px;
}
.featured-area-link p{
    text-decoration: underline;
}
/*featured area end*/
/*delivery support section*/
.delivery-support-section{
    margin: 100px 0px;
}
.delivery-support-area{
    padding: 50px 0px;
    display: flex;
    justify-content: space-around;
    align-content: center;
    background-color: #f4f4f4;
    align-items: center;
    margin: 0 auto;
}
.delivery-support-area img{
    max-width: 50px;
    display: block;
    margin: 0 auto;
    padding-bottom: 10px;

}
/*delivery support section end*/
/*hot-deal section*/
.hot-deal{
    padding: 50px 0px;
    display: flex;
    justify-content: space-around;
    background-color: #fef6f8;
    align-items: center;
    text-align: center;
}
.hot-deal h1{
    margin-bottom: 10px;
}
.hot-deal-content span{
    color: red;
    font-weight: bolder;
}
/*hot-deal section end*/
/*social media section start*/
.social-media-area{
    text-align: center;
    margin: 100px 0px 0px 0px;
}
.social-media-area h1{
    padding-bottom: 30px;
}
.ig-section{
    padding: 50px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.ig-section .box img{
    width: 270px;
}
/*social media section end*/
/*newsletter section start*/
.newsletter-area{
    background-image: url('../assets/newsletter-banner.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 100px 0px;
}
.newsletter-area h1{
    margin-bottom: 10px;
}
.newsletter-area p{
    margin-bottom: 10px;
}
.newsletter-area input[type=email]{
    width: 30%;
    padding: 10px 5px;
    border-radius: 5px;
    border: none;
}
.newsletter-area input[type=submit]{
    padding: 10px 20px;
    cursor: pointer;

}